body{
  padding:5%;
  margin:0%;
}
input{
  width: 100%;
  border: 1px solid grey;
}
 h6::after{
  content: "*";
  color: red;
  display: inline-block;
  text-indent: 5px;

}

h6{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
.fa-star{
  padding-top:0px;
  color: rgb(227, 191, 13);
}
.fa-star:hover{
  color: orange;
}
.container {
  
  padding-left: 5px;
}
.col {
  
  justify-content: space-around;
  height: auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-family: 'Kaisei HarunoUmi', serif;
}
.col-sm-2{
  align-items: left;
  padding: 5px 0%;
  justify-content: space-around;
  height: auto;
  padding-left: 10px;
  font-family: 'Kaisei HarunoUmi', serif;
  font-weight:bold;
}
.row:nth-child(even) {
  background-color: rgba(127, 130, 130, 0.947);
}

.rad{
  height: 18px;
  width: 60px;
  text-align: center;
  padding-top: 30px;
  font-weight: 100vh;
  background-color: rgb(209, 206, 206);
}
.textarea {
  display: block;
  width: 100%;
  overflow:hidden;
  resize: both;
  min-height: 15vh;

}
button{
  width:8%;
}